{% if product.metafields.custom.add_on_products != blank%}
    <div class="addon-container">
        <h3>Add On Products</h3>

        <div class="addon-row">
            {% for addon in product.metafields.custom.add_on_products.value %}
            <div class="addon-card">
                <div class="addon-img-title">
               {% if addon.featured_image %}
                <div class="addon-img">
                    <img src="{{ addon.featured_image  | image_url}}" width="" height="" alt="{{ addon.title }}">
                </div>
                 
               {% endif %}
               <label class="addon-title">
                <input type="checkbox" class="addon-checkbox" data-default-variant="{{ addon.selected_or_first_available_variant.id }}">
                {{ addon.title }}

               </label>
               </div>
               <div class="addon-price">
                <p>{{ addon.price | money }}</p>
               </div>
                {% if addon.variants.size > 1 %}
                    <select class="addon-variant">
                        {% for variant in addon.variants %}
                            <option value="{{ variant.id }}" {% unless variant.available %}disabled{% endunless %}>
                                {{ variant.title }}

                            </option>                    
                        {% endfor %}
                    </select>
                    <div>
                        
                    </div>
                   
                  
                {% endif %}
                <input type="number" class="addon-quantity" value="1" min="1">

             
            </div>
              
            {% endfor %}
        </div>
    </div>
  
{% endif %}

<style>
    .addon-container{
        margin: 0 auto;
    }
    .addon-row{
    display: flex;
    gap: 12px;
    flex-direction: column;
}
    .addon-card{
        display: flex;
        gap: 10px;
    border: 1px solid black;
    padding: 12px;
    font-size: 13px;
    }
    .addon-img-title{
        display: flex;
        align-items: center;
        gap: 12px;
    }
    .addon-img img{
    width: 70px;
    height: auto;
    object-fit: contain;
    }
    .addon-title{
        display: block;
        margin-bottom: 6px;
        font-weight: 500;
        cursor: pointer;
    }
    .addon-title input{
        margin-right: 6px;
    }
    .addon-price{
        font-size: 15px;
        font-weight: 600;
        text-align: center;

       
    }
    .addon-variant{
       margin-top: 37%;
    /* width: 100%; */
    height: 2%;
    /* margin: 0 auto; */
    font-size: 12px;
    padding: 4px;

    }
    .addon-quantity{
      width: 80px;
    height: 1%;
    margin-top: 16%;
    padding: 5px;
    font-size: 13px;
    text-align: center;
    }
    .addon-variant input{
     margin: auto;
    border: 1px solid black;
}
    
</style>